@font-face {
    font-family: 'Raleway', sans-serif; 
}

body {
    margin: 0;
    padding: 0;
}

#block_page {
    font-family: 'raleway', arial, sans-serif;
    width: 80%;
    margin: auto; 
}

a {
    text-decoration: none;
    color: black; 
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#activity_section {
    width: 100%; 
}

.activity_content {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.column_single {
    box-sizing: border-box;
    width: 23%;
    height: 100%;
    max-height: 
}

.column_double {
    box-sizing: border-box;
    width: 23%;
    height: 100%;
}

.fig_1 {
    padding-bottom: 10px;
}

img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.activity_content h4 {
    font-size: 0.8em;
    padding-left: 10px;
}