@font-face {
    font-family: 'Raleway', sans-serif; 
}

/* @media all and (min-width: 1025px) and (max-width: 1600px) {  */

    body {
        width: 100%;
    }
#bloc_page {
    font-family: 'raleway', sans-serif;
    width: 90%;
    font-size: 0.8em;
    margin: auto; 
}

a {
    text-decoration: none;
    color: black; 
}
/* fin éléments GENERIQUES */


/* HEADER*/
header {
    width: 100%;
    display: flex;
    flex-direction: row; 
    position: relative;
}

#logo img {
    width: 100px;
    height: auto;
    justify-content: flex-start;
    margin-top: 10px; 
}

.menu {
    position: absolute;
    right: 50px;
    display: flex;
}

nav {
    align-items: baseline; 
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row; 
}

nav li {
    margin-right: 15px; 
}

li span { 
    border-top: 3px solid #0065fc; 
    padding-top: 15%;
}

.inscription {
    display: flex;
    flex-direction: row;
    margin-top: 12px; 
}
    
.inscription>a { 
    font-weight: bold;
    color: #0065fc; 
}

/* fin HEADER*/

/* DIV RECHERCHE*/
.recherche {
    margin-bottom: 3%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0; 
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}

#champ {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}

#pointeur {
    width : 20px;
    height: 20px;
    padding: 8px 8px 8px 8px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px 
}

input[type=search] {
    width: 300px;
    height: 36px;
    padding: 8px 8px 8px 8px;
    border-right: white;
    border: solid 2px #F2F2F2; 
}

input[type=submit] {
    width: 90px;
    height: 36px;
    padding: 8px 8px 8px 8px;
    background-color: #0065FC;
    border: none;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    color: white; 
}

#filtres {
    width: 700px;
    margin-top: 2%;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

#title {
    font-weight: bold;
}

#filtres i {
    border-radius: 28px;
    background-color: #DEEBFF;
    padding: 7px 7px 7px 7px;
    color: #0065FC;
    margin-right: 10px; }

#economique {
    font-weight: bold;
    margin-left: 25px; margin-right: 15px; 
    width: 130px;
    border: solid 2px #F2F2F2;
    border-radius: 28px; }

#economique:hover {
    background-color: #DEEBFF; color: #0065FC; }

#familial {
    font-weight: bold;
    margin-right: 15px; 
    width: 95px;
    border: solid #F2F2F2;
    border-radius: 28px; }

#familial:hover {
    background-color: #DEEBFF; color: #0065FC; }    

#romantique {
    font-weight: bold;
    margin-right: 15px; 
    width: 125px;
    border: solid #F2F2F2;
    border-radius: 28px;  }
    
#romantique:hover {
    background-color: #DEEBFF; color: #0065FC; }

#animaux {
    font-weight: bold;
    margin-right: 15px; 
    width: 165px;
    border: solid #F2F2F2;
    border-radius: 28px;  }
        
#animaux:hover {
    background-color: #DEEBFF; color: #0065FC; }

.recherche p { /* PARAGRAPHE : plus de 500 logements ..... */
    font-size: 0.9rem;
    margin-top: 20px; margin-left: 3px;
    display: flex;
    flex-direction: row; 
    align-items: center; }

.recherche p i {
    border: solid 2px #f2f2f2;
    border-radius: 50%;
    background-color:white;
    padding: 3px 7px 3px 7px;
    color: #0065FC;
    margin-right: 10px; }

/* Fin CLASS RECHERCHE */

/* Mise en forme générique 
h3 : 1rem
h4 : 0.8rem
bleu foncé : #0065FC 
bleu clair: #DEEBFF
gris : #F2F2F2*/

figure {
    box-shadow: 3px 3px 5px rgb(218, 218, 218);
    border-radius: 15px;
    border: 2px solid white;
}

h3 { 
    font-size: 1rem;
    padding-left: 1em;
}
 /* Fin mise en forme générique */

/* --------------------------------------------------------------------*/

#tous_logements {
    width: 100%;
    height: auto;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

#hebergements {
   width: 65%;
   max-width: 950px;
   height: 100%;
   background-color: #f2f2f2;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-content: space-around;
}

.hotel {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

/* Mise en forme de chaque carte : une DIV > FIGURE > IMG > FIGCAPTION > titre + p + 5 icons star  */
.chambre {
    max-width: 30%;
    height: auto; 
}

.chambre figure {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.chambre img {
    width: 100%;
    max-height: 128px;
    height: auto;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.chambre figcaption {
    padding-left: 0.5rem;
    text-align: left;
    line-height: 0.2rem;
}

.chambre h4 {
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 0;
}

.chambre p {
    font-size: 0.9em;
}

.chambre i {
    color:#0065FC;
    font-size: 0.9em;
}

.mer i:nth-child(4) {
    color: #f2f2f2;
}

.cannebiere i:nth-child(5), .mouettes i:nth-child(5), .mer i:nth-child(5), .panier i:nth-child(5) {
    color:#f2f2f2;
}
/* Fin cartes HOTEL*/


/* mention AFFICHER PLUS */
.more { 
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
/* fin DIV HEBERGEMENTS*/



/* ASIDE/ */
aside {
    width: 33%; 
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

aside > div:first-child {
    position: relative;
    width: 100%;
}  
    
aside > div .fa-chart-line {
    position: absolute;
    top: 25px; 
    right: 20px;
    font-size: 1.5em;
}

/* Mise en forme de chaque carte : une DIV > FIGURE > IMG > FIGCAPTION > titre + p + 5 icons star*/
.pop_cards {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content : space-between;
    align-items: center;
}

aside a {
    width: 100%;
}

aside figure {
    background-color: white;
    width: 90%;
    height: 7rem;
    margin: 0 0 2em 0.5em;
    display: flex;
    flex-direction: row; 
}

aside a img {
    display: flex;
    justify-content:flex-start;
    width: 148px;  
    min-height: 93%;
    border-radius: 15px 0 0 15px;
    padding : 3px 15px 3px 3px; 
}

aside figcaption {
    line-height: 0.8rem;
}

aside h4 {
    font-size: 0.8rem;
    padding-bottom: 0;
}
    
aside p { 
    font-size: 0.8rem;
    padding-bottom: 1%; 
}

aside i { 
    font-size: 0.7rem;
}

aside .fa-star { 
    color:#0065FC; 
    padding-top: 10px;
    padding-bottom: 0; 
}

.coeur_eau i:nth-child(5), .bleu_blanc i:nth-child(5) {
    color: #f2f2f2;
}

/* Fin cartes pop */
/* ------------------------------------Fin Section HERBEGEMENTS -------------------------------------------- */


/* SECTION ACTIVITES*/

#activity {
    width: 100%;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}    

/*Mise en forme de chaque cartes. 
Chq colonne est une DIV organisée avec flexbox pour les colonnes avec 2 cartes */
.activity_cards {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* Mise en forme de chaque carte activités*/
.activity_cards figure {
    width: 100%;
    height: 90%;
    margin-left: 0;
}

.activity_cards img {
    border-radius: 15px 15px 0 0;
    max-width: 100%;
}

.activity_cards figcaption {
    padding-left: 0.5rem;
    text-align: left;
    line-height: 0.2rem;
}

.column1 {
    width: 23%;
    height: 280px;
    /* max-height: 18rem;*/
}


.column2 {
    width: 23%;
    height: 100%;
    max-height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column3 {
    width: 23%;
    height: 280px;
    /* max-height: 18rem; */
}
    

.column4 {
    width: 23%;
    height: 100%;
    max-height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ------------------------------------ Fin section ACTIVITES ----------------------------------------> 

/*footer*/
footer {
    width: 100%;
    height: auto;
    margin: 50px 0 0 0; 
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
    line-height: 10px;
}

footer h5 {
    font-size: 0.8rem;
    font-weight: bold;
}

/* } fermeture acolade @media queries min-width 1024 et maw-width 1600px. 
Ouverture avant block-page principale) */ 


/*_______________________________________________________________________________________________________*/

/* -------------------------------RESPONSIVE écran < 767px - smartphones- -----------------------------*/
/* ______________________________________________________________________________________________________*/


@media all and (max-width: 767px) {

    body {
        width: 100%;
        margin: 5px;
    }

    #bloc_page {
        width: 100%;
        margin: auto;
    }

    /* h1, h2, h3 {
        margin-left: 5px;
    } */
/* --------------------------- header---------------------------------*/
    header {
        display: flex;
        flex-wrap: wrap;
    }
    
    #logo img {
        width: 60px;
        height: auto;
        justify-content: space-between;
    }
    
    .menu {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .inscription {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: #0065fc; 
    }
        
    nav {
        display: flex;
        width: 100%;
    }
    
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    
    nav li {
       border-bottom: 3px solid #FEFEFE; 
    }
    
    li span { 
        border-bottom: 3px solid #0065fc; 
        border-top: none;
    }

    input[type=search] { /* à traiter*/
        width: 250px;
        height: 36px;
        padding: 8px 8px 8px 8px;
        border-right: white;
        border: solid 2px #F2F2F2; 
    }
    
    input[type=submit] { /* à traiter */
        width: 26%;
        height: 36px;
        padding: 8px 8px 8px 8px;
        background-color: #0065FC;
        border: none;
        border-radius: 0 10px 10px 0;
        font-weight: bold;
        color: white; 
    }

    
    /* ---------------------------DIV Recherche---------------------------------*/

    #filtres {
        display: inline; 
    }

    #title {
        margin : 10px 0 10px 20px;
    }

    #economique, #familial, #romantique, #animaux {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .recherche p {
        margin-left : 20px;
    }



    /* -------------- SECTION TOUS LOGEMENTS (x6 Hébergements + aside populaires) -----------*/


    #tous_logements {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-content: center;
    }

    /* --------------------------- 1/ HEBERGEMENTS à MARSEILLE ---------------------------------*/
    /* Passe SOUS le aside, qui monte en 1er sous les filtres*
    Se positionne en colonnes, photos en paysage et figcaption dessous */

    #hebergements {
        order: 2;
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .hotel {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }

    .chambre {
        width: 100%;
        min-width: 500px;
    }

    /* #hebergements h3 {
        margin: 10px;
    } */

   /* --------------------------- 2/ ASIDE POPULAIRE ---------------------------------*/
    /* monte au dessus des 6 hébergements classiques
    garde sa mise en forme photo justifiée à gauche, figcpation à droite*/

    aside {
        order: 1;
        width: 100%;
    }

    aside figure {
        width: 90%;
    }

    /* --------------------------- 1/ ACTIVITES ---------------------------------*/
    /* Se positionne en colonnes, photos en paysage et figcaption dessous */

    .activity_cards {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        height: auto; 
    } 




 /* ---------------------------------- FOOTER --------------------------------------*/

    footer {
        width: 90%;
        height: auto;
        margin-top: 50px;
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 15px;
        background-color: #F2F2F2;
        line-height: 10px;
    }



} /* fermeture acolade MQ > 768px */